{% extends 'base.html' %}

{% block content %}
{% for message in messages %}
    <strong><i style="color: green;">{{message}}</i></strong>
{% endfor %} 

<h2>Register Here</h2><br>

<form action="/signup" method="post">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Create your username here" required>
    <br><br>
    <label for="firstname">Firstname</label>
    <input type="text" id="firstname" name="firstname" placeholder="Create your firstname here" required>
    <br><br>
    <label for="lastname">Lastname</label>
    <input type="text" id="lastname" name="lastname" placeholder=Creater your lastname here" required>
    <br><br>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Create your email here" required>
    <br><br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Create your password here" required>
    <br><br>
    <label for="comfirmpwd">Comfirmpwd</label>
    <input type="password" id="comfirmpwd" name="comfirmpwd" placeholder="Enter your password again" required>
    <br><br>
   <button type="submit">Sign Up</button> 
   
    
</form>
{% endblock %}